@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body{
    background-color: rgb(69, 124, 106);
}

h1{
    font-family: 'Pixelify Sans', sans-serif;
    color:mediumaquamarine;
    text-shadow: 2px 2px 2px black;
}

.section-content{
    max-width: 700px;
    margin: auto;
    margin-top: 10%;
    color: #fff;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.6);
    border: 4px solid rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.botao1{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711");
    background-size: cover;
    width: 200px;
    height: 100px;
}

.botao2{
    background-image: url("https://i.gifer.com/RXi9.gif");
    background-size: cover;
    width: 200px;
    height: 100px;
}

.botao3{
    background-image: url("https://i.gifer.com/2swA.gif");
    background-size: cover;
    width: 200px;
    height: 100px;
}

.botao4{
    background-image: url("../image/background44.gif");
    background-size: cover;
    width: 200px;
    height: 100px;
}

.botao5{
    background-image: url("../image/background5.gif");
    background-size: cover;
    width: 200px;
    height: 100px;
}

.botao6{
    background-image: url("../image/background6.gif");
    background-size: cover;
    width: 200px;
    height: 100px;
}

.botao7{
    background-image: url("../image/background7.gif");
    background-size: cover;
    width: 200px;
    height: 100px;
}

.botao8{
    background-image: url("../image/background8.gif");
    background-size: cover;
    width: 200px;
    height: 100px;
}

.botao9{
    background-image: url("../image/background9.gif");
    background-size: cover;
    width: 200px;
    height: 100px;
}



