@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-content {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 111, 0.7960434173669468) 80%,
    rgba(255, 0, 185, 0.8100490196078431) 100%
  );
}

.main-content{
    display: flex;
    flex-wrap: wrap;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 30px;
}

.content-header {
  text-align: center;
}

.dropdown {
  margin-top: 200px;
}

#botao-config{
  background-color: rgba(255, 0, 185, 0.8100490196078431);
  border: 2px solid rgba(255, 0, 185, 0.8100490196078431);
}

.botao-config:hover{
  background-color: rgba(163, 4, 121, 0.81) !important;
  border: 2px solid rgba(163, 4, 121, 0.81) !important;
}

.main-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info{
    margin-left: 60px;
    max-width: 320px;
    width: 320px;
    margin-top: 20px;
}

.info-port{
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.lista-info{
    font-family: "Poppins", sans-serif;
    line-height: 25px;
    font-size: 13px;
    color: #fff;
}

.info-conteudo{
    max-width: 320px;
    padding: 20px;
    background-color: rgba(29, 28, 28, 0.4);
}

.info-interesse{
  margin-top: 20px;
  background-color: rgba(29, 28, 28, 0.4);
  padding: 20px;
}

.perfil-img {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-top: 3px solid rgba(255, 0, 185, 0.8100490196078431);
  border-left: 3px solid rgba(255, 0, 185, 0.8100490196078431);
  border-right: 5px solid rgba(255, 0, 185, 0.8100490196078431);
  border-bottom: 5px solid rgba(255, 0, 185, 0.8100490196078431);
}

.username {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

body {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.conteudos{
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 700px;
}

.conteudos > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-human, .content-tec, .port-info{
  display: flex;
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(29, 28, 28, 0.4);
  margin-left: 20px;
  width: 500px;
}

.port-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  max-width: 500px;
}

.human, .tec{
  margin-top: 10px;
  margin-right: 10px;
  color: #fff;
}

.port-name{
  color: #fff;
}

.conteudos-tec{
  margin-top: -410px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 900px;
  margin-bottom: 50px;
}

.conteudos-tec > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-certificado{
  margin-top: 20px;
}

.certificado{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(29, 28, 28, 0.4);
  padding: 20px;
  margin-top: 10px;
}

.certificado-name{
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #fff;
}

.img-certificado{
  width: 50px;
}

.img-human, .img-tec, .img-port {
  margin-right: 10px;
}

.img-port{
  width: 60px;
}

.img-tec{
  width: 70px;
}

.img-tec1{
  width: 160px;
  height: 100px;
}

.img-proj{
    width: 70px;
    height: 60px;
}

.img-next {
  padding: 10px;
  color: #000;
  border-radius: 10px;
  background-color: #7fff00;
  border: 3px solid rgb(15, 18, 13);
  text-decoration: none;
}

.img-next:hover {
  background-color: rgb(83, 165, 6);
  border: 3px solid rgb(236, 242, 232);
  color: #fff;
}

.next-content, .next-information{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: rgba(29, 28, 28, 0.4);
  padding: 10px;
  text-align: center;
  margin: 0 20px;
}

.portfolio-title{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: rgba(29, 28, 28, 0.4);
  padding: 10px;
  text-align: center;
  margin: 0 20px;
  margin-top: 20px;
  max-width: 500px;
  width: 500px;
}

.next-content{
    max-width: 500px;
    width: 500px;
}

.next-information{
    max-width: 320px;
    width: 320px;
}

.interesse-title, .title-cert{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: rgba(29, 28, 28, 0.4);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.tec-title{
  width: 500px;
  margin-left: 20px;
}

.title-tec{
  margin-top: -450px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: rgba(29, 28, 28, 0.4);
  padding: 10px;
  text-align: center;
}

.palavras-finais{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}
